@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-emerald-100;
}

.layout {
    padding: 50px 100px;
}

.project-add {
    margin-top: 50px;
}

.project:hover {
    transform: scale(1.05);
}

.tasks {}

@media (max-width:1000px) {
    .layout {
        padding: 50px 30px;
    }
    .project-title {
        @apply text-center w-full;
    }
    .project {
        @apply flex-col gap-5;
    }
    .project-actions {
        @apply justify-center;
    }
}